In [22]:
import sqlite3 as sql

def query_sql(key, value, budget, stay_nights, wished_room_type, columns, sql_file):
    """
    Query a sqlite file for entries where "key" has the value "value".
    Return the values corresponding to columns as a list.
    """

    # set up sqlite connection
    conn = sql.connect(sql_file)
    c = conn.cursor()


    # prepare query string that contains all three conditions
    query_template = 'SELECT {columns} FROM listings WHERE {key} = "{value}" AND price <= {budget} AND minimum_nights <= {stay_nights} AND room_type = "{wished_room_type}"'
    columns_string = ', '.join(columns)  # e.g. [location, price] -> 'location, price'
    # replace the curly brackets in query_template with the corresponding info
    query = query_template.format(columns=columns_string, key=key, value=value, budget=budget, stay_nights=stay_nights, wished_room_type=wished_room_type)

    # execute query
    r = c.execute(query)
    # get results as list
    results = r.fetchall()


    # close connection
    conn.close()

    return results

In [23]:
query_sql(key='neighbourhood_group', value='Pankow', budget=20, stay_nights=1,  wished_room_type="Entire home/apt", columns = ['name', 'neighbourhood', 'price', 'minimum_nights', 'room_type'], sql_file='listings.db')[:10]

[('Bright and Clean Berlin Apartment',
  'Helmholtzplatz',
  10,
  1,
  'Entire home/apt'),
 ('Apartment with cat', 'Prenzlauer Berg Süd', 20, 1, 'Entire home/apt'),
 ('Helle 28qm Einzimmerwohnung in ruhiger Gegend.',
  'Blankenfelde/Niederschönhausen',
  20,
  1,
  'Entire home/apt')]

In [1]:
def check_validity(var):
    #var = input('Input a number (int) for the Episode you want to check: ')
    try:
        for char in var:
            if char in "0123456789":
                continue
            else:
                raise ValueError
        return True
    except(ValueError):
        print("Invalid input, use integer only!")

In [6]:
while True:
    var = input('Input a number (int) for the Episode you want to check: ')
    if check_validity(var) == True:
        break
    else:
        var = input('Input a number (int) for the Episode you want to check: ')

var = int(var)

In [7]:
var

65

In [ ]:
while True:
    var = input('Input a number (int) for the Episode you want to check: ')
    if check_validity(var) == True:
        break
    else:
        var = input('Input a number (int) for the Episode you want to check: ')

In [8]:
import re

room_regex = [
    (r'wohnung', 'Entire home/apt'),
    (r'haus', 'Entire home/apt'),
    (r'apartment', 'Entire home/apt'),
    (r'familie', 'Entire home/apt'),
    (r'raum', 'Private room'),
    (r'zimmer', 'Private room'),
    (r'wg', 'Private room'),
    (r'hostel', 'Private room'),
    (r'geteilt', 'Private room')
]

def get_room_type(sentence, regex_list=room_regex):
    for regex, value in regex_list:
        match = re.search(regex, sentence)
        if match:
            # if a regex matches the input: return the corresponding value
            return value
    # return None if no regular expression matches the input
    return None

In [10]:
# get wished residence type
query_res_type = input('Welche Residenzart gefällt dir besser? Ganzes Haus/Apartment oder nur ein privates Zimmer? ')
# normalize to lowercase
query_res_type = query_res_type.lower()
wished_room_type = get_room_type(query_res_type, regex_list=room_regex)

'Private room'

In [1]:
import pandas as pd

df = pd.read_csv("listings.csv")

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,652868795892201022,Kleine Auszeit? Oder Business-Trip? Alles mögl...,21708794,Familie Sek,Tempelhof - Schöneberg,Lichtenrade,52.357652,13.399098,Entire home/apt,88,1,0,NaN,NaN,1,6,0,NaN
1,27080612,Apartment with Living/Sleeping Room & own Kitchen,130216168,Tommy,Marzahn - Hellersdorf,Mahlsdorf,52.520060,13.659560,Entire home/apt,60,2,126,2022-09-11,2.54,2,163,18,NaN
2,29077694,Wohnung im Grünen nah an der Metropole,219116245,Tilmann,Steglitz - Zehlendorf,Zehlendorf Südwest,52.412320,13.207150,Entire home/apt,36,8,29,2022-05-29,0.63,1,6,6,NaN
3,665648367391379321,Schöne Eigentumswohnung mit Balkon,106965422,Paul,Steglitz - Zehlendorf,Drakestr.,52.402144,13.273865,Entire home/apt,120,1,0,NaN,NaN,1,257,0,"Available with a mobility lease only (""bail mo..."
4,37738004,Remise Villa Erica Superior Apartment,42048631,Archibald,Steglitz - Zehlendorf,Drakestr.,52.410150,13.292070,Entire home/apt,110,5,1,2019-10-26,0.03,8,160,0,NaN

In [2]:
set(df['room_type'])

{'Entire home/apt', 'Hotel room', 'Private room', 'Shared room'}